.social-button-facebook {
    min-width: 30px;
    background-image: url(../../images/facebook.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: transform 0.3s;
}

.social-button-facebook:hover {
    transform: scale(1.5);
}