.income-block__info {
    margin: 0 0 15px 141px;
    width: 549px;
    font-family: nonosans-regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #303030;
}

.income-block__info:last-of-type {
    margin-bottom: 65px;
}