.tabs-name{
    margin: 60px 40px 125px 0;
    font-size: 18px;
    color: #303030;
    font-family: nonosans-regular, sans-serif;
    line-height: 24px;
    font-weight: 400;
}

.tabs-name:first-child{
    text-decoration: underline;
}

.tabs-name:last-child{
    margin: 60px 0px 125px 0;
}